<div class="relative">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th ccope="col" class="px-6 py-3">{{keyCategory}}</th>
        <th *ngFor="let month of months" ccope="col" class="px-6 py-3">{{ month }}</th>
        <th ccope="col" class="px-6 py-3">Total</th>
        <th ccope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        *ngFor="let category of categories; let i = index">

        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white min-w-52">
          <input *ngIf="category.isNew" [(ngModel)]="category.categoryName" 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Enter category name" 
            (keyup.enter)="createNewCategory(category)"/>
          <span *ngIf="!category.isNew">{{ category.categoryName }}</span>
        </th>

        <ng-container *ngFor="let month of months; let j = index">
          <td (contextmenu)="openContextMenu($event, i, j)" class="px-6 py-4 min-w-52">
            <input [(ngModel)]="category.values[j]" (keydown)="handleNavigation($event, i, j)"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <div *ngIf="contextMenuVisible" [style.top]="contextMenuPosition.y" [style.left]="contextMenuPosition.x"
              class="fixed bg-white text-gray-700 border p-2">
              <button (click)="applyToAll(i, j)">Apply to All</button>
            </div>
          </td>
        </ng-container>

        <td class="px-6 py-4 min-w-52">{{ calculateRowTotal(category) }}</td>
        <td class="px-6 py-4">
          <button *ngIf="!category.isNew" (click)="deleteCategoryRow(i)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Delete
          </button>
        </td>
      </tr>

    </tbody>

    <tfoot>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4 min-w-52">Subtotal</td>
        <td *ngFor="let month of months; let j = index" class="px-6 py-4">{{ getColumnSubtotal(j) }}</td>
        <td class="px-6 py-4 min-w-52">{{ getOverallTotal() }}</td>
        <td class="px-6 py-4"></td>
      </tr>
    </tfoot>

  </table>

  <div class="mb-4 mt-4 flex flex-row items-center">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Month:</label>
    <select [(ngModel)]="selectedStartMonth" (change)="updateMonthRange()"
      class="ml-2 w-80 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option *ngFor="let month of monthsSelectOptions" [value]="month">{{ month }}</option>
    </select>
  
    <label class="block mb-2 ml-4 text-sm font-medium text-gray-900 dark:text-white">End Month:</label>
    <select [(ngModel)]="selectedEndMonth" (change)="updateMonthRange()"
      class="ml-2 w-80 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option *ngFor="let month of monthsSelectOptions" [value]="month">{{ month }}</option>
    </select>
  </div>
</div>


