<h1 class="mb-4 text-center text-1xl font-bold leading-none tracking-tight text-slate-700 md:text-5xl lg:text-6xl dark:text-white">
  Hello user,
  
  <h2 class="text-4xl font-extrabold dark:text-white">
    Welcome to Budget Builder App from Avnon Group!
  </h2>
</h1>

<!-- Begin SpreadSheet Area-->
<div class="relative mx-auto mt-10 overflow-x-auto">
  <!-- Income area -->
  <avnon-income-budget-spreadsheet></avnon-income-budget-spreadsheet>

  <!-- Expense area -->
  <avnon-expense-budget-spreadsheet></avnon-expense-budget-spreadsheet>
</div>
